/*========Portfolio========*/
.portfolio {
	display: flex;
	justify-content: center;
}

.avatar {
	display: flex;
	justify-content: center;
}

.avatar img {
	max-width: 200px;
	border-radius: 200px;
	box-shadow: none !important;
}

.avatar-section {
	text-align: center;
}

.contact-icons {
	margin-top: 5px;
	margin-bottom: 20px;
	font-size: 1.4rem;
}

.contact-icons a {
	color: var(--color) !important;
}

.subtext {
	color: #777;
	margin-bottom: 20px;
}

/*========Post Content========*/
.homepage .post {
	margin-top: 0;
	padding-top: 0;
}

.homepage .post-content {
	text-align: justify;
}

.post-content a {
	color: #fe5186;
	text-decoration: none;
}

.post-content .em {
	color: #fe5186;
	display: inline;
	font-weight: 600;
}

.post-content a:hover {
	text-decoration: underline;
}

/*========Menu========*/
.menu__inner a {
	font-weight: 700;
}

/*========For Phone========*/
@media(max-width: 684px) {
	.avatar img {
		max-width: 150px;
	}
}
