@font-face {
  font-family: 'Century Supra T4';
  src: url('../fonts/CenturySupra/CenturySupraT4.woff2') format('woff2'),
  url('../fonts/CenturySupra/CenturySupraT4.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Century Supra T4';
  src: url('../fonts/CenturySupra/CenturySupraT4-Bold.woff2') format('woff2'),
  url('../fonts/CenturySupra/CenturySupraT4-Bold.woff') format('woff');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Century Supra T4';
  src: url('../fonts/CenturySupra/CenturySupraT4-Italic.woff2') format('woff2'),
  url('../fonts/CenturySupra/CenturySupraT4-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Concourse T6';
  src: url('../fonts/Concourse/Concourse T6 Regular.woff2') format('woff2'),
  url('../fonts/Concourse/Concourse T6 Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse T4';
  src: url('../fonts/Concourse/Concourse T4 Regular.woff2') format('woff2'),
  url('../fonts/Concourse/Concourse T4 Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse T2';
  src: url('../fonts/Concourse/Concourse T2 Regular.woff2') format('woff2'),
  url('../fonts/Concourse/Concourse T2 Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Concourse T2';
  src: url('../fonts/Concourse/Concourse T2 Bold.woff2') format('woff2'),
  url('../fonts/Concourse/Concourse T2 Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
