<div class="portfolio">
	<div class="avatar-section">
		<h1>Bui Quang Cuong
			<sup>
				<div class="contact-icons" style="display:inline">
					<a href="mailto:cuong.bui@tuhh.de" target="_blank" rel="noopener" title="Email">{{ partial "svg.html" (dict "context" . "name" "email") }}</a>&nbsp;
					<a href="https://github.com/bqcuong" target="_blank" rel="noopener" title="Github">{{ partial "svg.html" (dict "context" . "name" "github") }}</a>&nbsp;
					<a href="https://linkedin.com/in/bqcuong" target="_blank" rel="noopener" title="Linkedin">{{ partial "svg.html" (dict "context" . "name" "linkedin") }}</a>
				</div>
			</sup>
		</h1>
		<div class="avatar">
			<img src="/media/images/bqc_new.jpg"/>
		</div>
		<p class="subtext">
			<em>a.k.a. <strong>Quang-Cuong Bui</strong></em>.<br/>Ph.D. student at <a href="https://www.tuhh.de/softsec">E22 – TUHH</a>.
		</p>
	</div>
</div>
